---
---

<div class="py-6 px-6 flex items-center justify-center gap-6 max-w-page mx-auto">
  <div class="flex-1 h-px bg-stone/20"></div>
  <img src="/images/dan-logo.png" alt="" aria-hidden="true" class="h-10 w-auto opacity-30" />
  <div class="flex-1 h-px bg-stone/20"></div>
</div>
