---
---

<div class="py-3 px-6 flex items-center justify-center gap-6 max-w-page mx-auto">
  <div class="flex-1 h-px bg-stone/40"></div>
  <img src="/images/dan-logo-v3.png" alt="" aria-hidden="true" class="h-10 w-auto opacity-50" />
  <div class="flex-1 h-px bg-stone/40"></div>
</div>
